<%- include("header") -%>
<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>
<div class="box">
  <% newTasks.forEach((e)=>{ %>
  <div class="item">
    <input type="checkbox" />
    <p><%= e %></p>
  </div>
  <% }) %>
  <form action="/" method="post" class="item">
    <input
      type="text"
      placeholder="NewTask"
      name="taskInput"
      autocomplete="off"
    />
    <button type="submit" name="taskAddButton" value="<%= listTitle %>">
      +
    </button>
  </form>
</div>
<%- include("footer") -%>
